
.hdr{
    height: 150px;
    position: relative;
    text-align: center;
    color: azure;
}
.container-lg-md-sm{
    
    position:relative;
     display: flex;
     gap: 20px;
    
    height: 400px;
    width: 50%;
    margin-left: 25%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}

.LFimg{
    margin-top: 50px;
    height: 60%;
    width: 50%;
}
.LForm{
    
     width: 50%;
     
}

#Flogin{
    color: azure;
    font-size: 30px;
    font-weight: 700;
    margin-left: 20px;
    margin-top: -35px;
}
 

#luser{
    position: relative;
    height: 8%;
    width: 6%;
    margin-left: 60%;
    margin-top: 6%;
    z-index: 1;
     
}
.form{
    margin-top: 80px;
    margin-left: 25px;
     width: 100%;
     z-index: -1;
}

#Lbtn{
    background-color: rgb(28, 27, 27);
    border: none;
     
    height: 40px;
    font-weight: 500;
    /* margin-left: -10px; */
}
#Lbtn1,#github,#Ldin{
    background-color: rgb(28, 27, 27);
    border: none;
    width: 170px;
    height: 40px;
    font-weight: 500;
    margin-left: 35px;
    margin-top: 10%;

}

 